body {
	background-color: #E3F3F0;
		color:#2C3A70;
		text-align: left;
		font-family: 'Helvetica', sans-serif;
		padding-top: 20px;
		padding-right: 20px;
		padding-bottom: 0;
		padding-left: 20px;
		padding-top: 50px;
		h1 {
			padding-bottom: 50px;
		}
		h2 {
			padding-bottom: 25px;
			padding-top: 25px;
		}
<<<<<<< HEAD
		li {
     padding: 20px;
     display: inline;
	 }
=======

		h5{
			color:#2C3A70;
		}
>>>>>>> d8812a27152f8d9bc8d4b54ad6e17c438fd13f48
}
